/**
 * Content / Post card
 */

.post-card {
	$c: &;
	
	display: grid;
	grid-template-areas:
		"image"
		"content"
		"navigation";
	grid-template-columns: 1fr;
	grid-template-rows: 10rem 1fr auto;

	&__media-wrap {
		grid-area: image;
		line-height: 0;
		margin: 0 0 $layout_padding;
		overflow: hidden;
		position: relative;
		z-index: 1;

		&:hover,
		&:focus {
			#{$c}__image {
				opacity: 0.85;
				transform: scale(1.05);
			}
		}
	}
	&__image {
		display: block;
		height: 100%;
		left: 0;
		object-fit: cover;
		object-position: 50% 50%;
		position: absolute;
		top: 0;
		transition: opacity .2s, transform .2s;
		width: 100%;
		z-index: 1;
	}
	&__media-link {
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
		top: 0;
		z-index: 3;
	}
	&__content-wrap {
		display: flex;
		flex-flow: column nowrap;
		grid-area: content;
	}
	&__meta {
		color: $medium_gray;
		font-size: $fontSize_small;
		list-style: none;
		margin: 0 0 rem(5);
		padding: 0;

		li {
			display: inline;

			&::after {
				content: '|';
				margin: 0 rem(10);
			}

			&:last-child::after {
				content: none;
			}
		}
	}
	&__tags {
		font-size: $fontSize_small;
		list-style: none;
		margin: 0 0 rem(5);
		padding: 0;

		li {
			display: inline;

			&::after {
				content: '|';
				margin: 0 rem(10);
			}

			&:last-child::after {
				content: none;
			}
		}
	}
	&__title {
		margin: 0 0 1rem;
	}
	&__excerpt {
		margin: 0 0 1rem;
	}
	&__navigation {
		grid-area: navigation;
		margin: 2rem 0 0;
	}
}